sensory_raport.pdf

# Build Directory
build

# Zephyr Installation
/.west/
/bootloader/
/modules/
/zephyr/
/tools/

# Ozone project files (generated or user-specific)
firmware/debug/*.jdebug
firmware/debug/*.jdebug.user